---
import BaseHead from '../components/BaseHead.astro';
import Layout from '../layouts/mainpage_layout.astro';
import { get_data_url } from '../minio';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
export const prerender = false;

async function fetchData() {
  try {
    const presignedUrl = await get_data_url();
    return presignedUrl; // 必要に応じて結果を返す
  } catch (err) {
    console.error(err);
    return null;
  }
}

// fetchData 関数を呼び出し、非同期処理の結果を待つ
const results = await fetchData();
// console.log(results)
---

<!doctype html>
<html lang="jp">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Layout title='gallery'>
			<div >
				<div class="columns-2 md:columns-3 lg:columns-4 xl:columns-5 m-10 md:m-10 lg:m-8">
					{results && results.length > 0 ? (
						results.map((url, index) => (
						  <img src={url} alt={`Image ${index}`} />
						))
					  ) : (
						<p>No images available</p>
					  )}
				</div>
			</div>
		</Layout>
	</body>
</html>

<style>
	img {
		margin-bottom: 1rem/* 16px */;
	}
</style>