---
interface Props {
    text : string
}
const {text} = Astro.props;
---

    <!-- <div class="flex-1 border-b border-gray-500"></div> -->
    <p class="text-xl items-center flex justify-center  mb-20 mt-16 text-gray-500">{text}</p>
    <!-- <div class="flex-1 border-b border-gray-500"></div> -->



<style>
    p::before,
    p::after {
      content: "";
      width: 70px;
      height: 1px;
      background: rgb(184, 184, 184);
      display: inline-block;
    }

    p::before {
      margin-right: 20px;
    }

    p::after {
      margin-left: 20px;
    }
</style>
