---
const today = new Date();
---
<section>
	<div/>
	<footer>
		&copy; {today.getFullYear()} kouxi. All rights reserved.
	</footer>
</section>


<style>
	section {
		margin-top: 3.5rem
	}
	div {
		border-bottom: 1px solid #e5e7eb; /* equivalent to border-b border-gray-300 */
		width: 100%; /* equivalent to w-full */
		position: absolute; /* equivalent to absolute */
	}
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
