---
import '@fontsource/freehand'
import HeaderLink from '../components/HeaderLink.astro';
---
<p>
	<HeaderLink href="/">kouxi photo</HeaderLink>
</p>

<style>
	p {
		text-align: center;
		margin-top: 2rem;
		font-family: 'Freehand';
		color: #8F8F8F;
		font-size: 2rem;
	}
</style>
