---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header  class="flex-col md:flex-row items-center md:justify-between ">
	<img src="gallery_image/umeda-2.png" class=" relative md:w-auto md:h-auto h-screen "/>
	<!-- <div class="border-r border-white h-3/5 absolute top-0 right-20"></div> -->
	<div class="border-b border-white w-full absolute top-24"></div>
	<div>
	<>
      </div>
	<nav class="text-white text-2xl flex absolute  top-0 right-0 p-8">
		<div class="text-2xl mr-16 flex absolute  top-0 right-0 p-8 grid-cols-3 divide-x ">
			<div class = "font-FrankRuhlLibre  flex ">
				<p class="mx-5">
					<HeaderLink href="/blog">Blog</HeaderLink>
				</p>
				<p class="mx-5">
					<HeaderLink href="/gallery">Gallery</HeaderLink>
				</p>
				<p class="mx-5">
					<HeaderLink href="/about">About</HeaderLink>
				</p>
			</div>
			<div class = "flex justify-center left-0">
				<p>
					<HeaderLink href="https://twitter.com/KouXi_3840">
						<img src="gallery_image/x.png"
							width={20}
							height={20}
							class="mx-7 p-0"
						/>
					</HeaderLink>
				</p>
				<p>
					<HeaderLink href="https://www.instagram.com/kou.0003">
						<img src="gallery_image/Instagram.png"
							width={25}
							height={25}
							class="mx-7"
						/>
					</HeaderLink>
				</p>
			</div>
		</div>
	</nav>
</header>



