---
import BaseHead from '../components/BaseHead.astro';
import { ViewTransitions } from "astro:transitions";
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const {title, url, width, height} = Astro.props;

interface Props {
    title : string
	url : string
	width : number
	height : number
}
---

<html lang="jp">
	<head>
		<ViewTransitions />
		<BaseHead title={SITE_TITLE}description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h3>{title}</h3>
			<div>
				<img src={url} alt="">
			</div>
			<article>
					<slot />
			</article>
		</main>
		<Footer/>
	</body>
</html>

<style>
	main {
		width: 1080px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
	:root {
		--accent: #999999;
		--accent-dark: #a4a4a4;
	}
	div {
		position: relative; /* equivalent to relative */
		height: 0; /* equivalent to h-0 */
		overflow: hidden; /* equivalent to overflow-hidden */
		padding-bottom: 57%; /* equivalent to pb-[57%] */
	}
	img {
		position: absolute; /* equivalent to absolute */
		inset: 0; /* equivalent to inset-0 */
		width: 100%; /* equivalent to w-full */
		height: 100%; /* equivalent to h-full */
		object-fit: cover; /* equivalent to object-cover */
	}
</style>
