---
import BaseHead from '../components/BaseHead.astro';
import { ViewTransitions } from "astro:transitions";
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
    title : string
	url : string
	width : number
	height : number
}

const {title, url, width, height} = Astro.props;
---

<html lang="jp">
	<head>
		<ViewTransitions />
		<BaseHead title={SITE_TITLE}description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h2>{title}</h2>
			<div class="relative h-0 overflow-hidden pb-[57%]">
				<img src={url} alt="" class="absolute inset-0 w-full h-full object-cover">
			</div>
			<article>
					<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	p {
		margin-bottom: 1em;
	}
	.prose p {
		margin-bottom: 2em;
	}
	main {
		width: 1080px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
	:root {
		--accent: #999999;
		--accent-dark: #a4a4a4;
	}

</style>
