---
import BaseHead from '../components/BaseHead.astro';
import { ViewTransitions } from "astro:transitions";
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';

const {title, url, createdat} = Astro.props;

interface Props {
    title : string
	url : string
	createdat : string
}
---

<html lang="jp">
	<head>
		<ViewTransitions />
		<BaseHead title={SITE_TITLE}description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p class="date">
				<FormattedDate date = {new Date(createdat)}/>
			</p>
			<h2 class="title">{title}</h2>
			<div class="eyecatch_url">
				<img src={url} alt="">
			</div>
			<article>
					<slot />
			</article>
		</main>
		<Footer/>
	</body>
</html>

<link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>

<style>
	main {
		font-family: 'Baloo Bhaijaan 2';
		width: 1080px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 0em 1em;
		color:#707070
	}
	:root {
		--accent: #999999;
		--accent-dark: #a4a4a4;
	}
	.eyecatch_url {
		position: relative; /* equivalent to relative */
		height: 0; /* equivalent to h-0 */
		overflow: hidden; /* equivalent to overflow-hidden */
		padding-bottom: 57%; /* equivalent to pb-[57%] */
	}
	div {
		display: flex;
	}
	img {
		position: absolute; /* equivalent to absolute */
		inset: 0; /* equivalent to inset-0 */
		width: 100%; /* equivalent to w-full */
		height: 100%; /* equivalent to h-full */
		object-fit: cover; /* equivalent to object-cover */
		padding-bottom: 50px;
	}
	.title {
		top: 0;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.date {
		margin: -1px;
		font-size: 15px;
		content: "\f52d"; /* feather */
	}

</style>
