---
import BaseHead from '../components/BaseHead.astro';
import { ViewTransitions } from "astro:transitions";
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Title from '../components/BodyTitle.astro';
import HeaderLink from '../components/HeaderLink.astro';
import Header from '../components/Header.astro';

interface Props {
    title : string
}

// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const {title} = Astro.props;
---

<html lang="jp">
	<head>
		<ViewTransitions />
		<BaseHead title={SITE_TITLE}description={SITE_DESCRIPTION} />
	</head>
	<Header />
	<body>
        <Title text = {title}/>
		<main>
			<article>
					<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>